<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

 <header class="container-fluid pb-md-5">

  <nav  class="navbar navbar-expand-lg navbar-light bg-light p-3">
   
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto  align-items-center ">
        <li class="nav-item active">
          <a class="nav-link interior" href="#">INTERIOR DESIGN <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Portafolio
          </a>
         
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Testimonial</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Blog</a>
        </li>
      </ul>
      <a class="contact" href="#" tabindex="-1" aria-disabled="true">Contact</a>
    </div>
  </nav>
 
    <img class="img-fluid"  src="../assets/header.jpg">
 
   <span class="head ">
     El arte de diseñar
   </span>
 </header>
 <section class="container mt-md-5 border-top border-bottom">

   <div class="row justify-content-around mt-5 mb-5">
    <div class="card m-2 border-0" style="width: 18rem;">
      <div class="card-header">
        Title 1
      </div>
      <img src="../assets/DSC69161.png" style="height:13rem ;" class="card-img-top" alt="...">
      <div class="card-body">
       
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-outline-secondary">More Info</a>
      </div>
    </div>
    <div class="card  m-2 border-0" style="width: 18rem;">
      <div class="card-header">
        Title 1
      </div>
      <img src="../assets/DSC69521.png" s class="card-img-top" alt="...">
      <div class="card-body">
       
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-outline-secondary">More Info</a>
      </div>
    </div>
    <div class="card  m-2 border-0" style="width: 18rem;">
      <div class="card-header">
        Title 1
      </div>
      <img src="../assets/DSC6954.png" class="card-img-top" alt="...">
      <div class="card-body">
       
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-outline-secondary">More Info</a>
      </div>
    </div>
   </div>

 </section>
 <section class="container mt-5 mb-5">
    <span class="instagram">Instagram  <img class="m-3" src="https://img.icons8.com/carbon-copy/44/000000/instagram-new.png"/> </span> 
  <div class="row">
     
     <div class="col-12 col-md-6">
     
       <img src="../assets/fmx_interior_design_co_xiamen_china_kitchen_bath_bedroom.png" class=" figure-img img-fluid">
     </div>
     <div class="col-12 col-md-6">
       <div class="row">
        <div class="col-6">
              <img class=" figure-img img-fluid" src="../assets/fmx_interior_design_co_xiamen_china_kitchen_bath_boulder.png">
        </div>
        <div class="col-6">
              <img class=" figure-img img-fluid" src="../assets/fmx_interior_design_co_xiamen_china_kitchen_bath_dining_area.png">
        </div>
        <div class="col-6">
               <img class=" figure-img img-fluid" src="../assets/fmx_interior_design_co_xiamen_china_kitchen_bath_open_plan_glass_box.png">
        </div>
        <div class="col-6">
               <img class=" figure-img img-fluid" src="../assets/DSC69161.png"> 
        </div>
       </div> 

     </div>

  </div>

 </section>

 <footer class="container-fluid border-top p-3">

   <div class="container ">
     <div class="row justify-content-center" >
      <img  class="m-3" src="https://img.icons8.com/carbon-copy/44/000000/facebook-new.png"/>
      <img class="m-3" src="https://img.icons8.com/carbon-copy/44/000000/instagram-new.png"/> 
      <img class="m-3" src="https://img.icons8.com/carbon-copy/44/000000/twitter.png"/>
     </div>
   </div>

 </footer>